body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background: linear-gradient(to top, #00ffcc, #2d2d2d); /* Заменил цвета градиента */
    color: #00ffcc; /* Заменил цвет текста */
    font-family: 'Nosifer';
    overflow: hidden;
}

.menu {
    text-align: center;
    animation: glitch 1s infinite;
}

.menu h1 {
    font-family: "Nosifer";
    font-size: 3em;
    color: #00ffcc; /* Заменил цвет заголовка */
    text-shadow: 2px 2px #1a1a1a, -2px -2px #00ffcc; /* Заменил тени текста */
    position: relative;
    animation: glow 1.5s infinite alternate;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 40px 0; /* Увеличено расстояние между элементами списка */
    animation: moveIn 1s ease-in-out infinite alternate;
}

.menu a {
    text-decoration: none;
    color: #1a1a1a; /* Заменил цвет текста */
    font-family: "Russo One";
    font-size: 1.5em;
    padding: 10px 20px;
    background: #00ffcc; /* Заменил цвет фона */
    border: 2px solid #00ffcc; /* Заменил цвет границы */
    box-shadow: 3px 3px #1a1a1a, -3px -3px #00ffcc; /* Заменил цвет тени */
    transition: background 0.3s;
}

.menu a:hover {
    background: #2d2d2d; /* Заменил цвет фона при наведении */
}

/* Glow effect for the title */
@keyframes glow {
    0% {
        text-shadow: 2px 2px #1a1a1a, -2px -2px #00ffcc; /* Заменил тени текста */
    }
    100% {
        text-shadow: 2px 2px #1a1a1a, -2px -2px #00ffcc; /* Оставил тени текста такими же */
    }
}

/* Glitch effect for the menu */
@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, -2px);
    }
    40% {
        transform: translate(2px, 2px);
    }
    60% {
        transform: translate(-2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

/* Move in effect for the menu items */
@keyframes moveIn {
    0% {
        opacity: 0.7;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
