<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neon Carnage</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="../../public/css/menu/fonts.css">
    <link href="../../public/css/main/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Neon Carnage</h1>
    <input id="nickName" type="text"></input>
    <div class="custom-select-wrapper">
        <select id="skinId">
            <option value="0" data-icon="/public/assets/Player/Skin1/head.png">Skin 1</option>
            <option value="1" data-icon="/public/assets/Player/Skin2/head.png">Skin 2</option>
            <option value="2" data-icon="/public/assets/Player/Skin3/head.png">Skin 3</option>
            <option value="3" data-icon="/public/assets/Player/Skin4/head.png">Skin 4</option>
            <option value="4" data-icon="/public/assets/Player/Skin5/head.png">Skin 5</option>
            <option value="5" data-icon="/public/assets/Player/Skin6/head.png">Skin 6</option>
        </select>
    </div>
    <button id="start">start</button>
    <script type="module" src="/public/js/main/script.js"></script>
    <script type="module" src="/public/js/main/main.js"></script>
</body>
</html>
