<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>NeonCarnage</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <!-- Include any CSS stylesheets -->
    <link href="../../public/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>WHAT</h1>
<canvas id="canvas"></canvas>
<!-- Include your main.js file -->
<script type="module" src="../../public/js/main.js"></script>
</body>
</html>
