<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neon Carnage</title>
    <link rel="icon" href="/public/assets/Interface/favicon.png">
    <link rel="stylesheet" href="../../public/css/menu/fonts.css">
    <link href="/public/css/game/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <canvas id="canvas"></canvas>
    <script type="module" src="/public/js/game/main.js"></script>
</body>
</html>
