body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(to top, #00ffcc, #2d2d2d);
    color: #00ffcc;
    font-family: 'Russo One';
    overflow: hidden;
}

* {
    user-select: none; /* Prevent text selection for all elements */
}

h1 {
    font-family: 'Nosifer', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 0 #00ffcc, 0 0 10px #00ffcc, 0 0 30px #00ffcc;
    animation: glow 1.5s infinite alternate, neonFlow 3s infinite;
}

input {
    display: block;
    font-family: 'Russo One';
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #00ffcc;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #00ffcc;
    text-align: center;
    outline: none;
    box-shadow: 0 0 10px #00ffcc;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
}

select {
    display: block;
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    font-family: 'Russo One';
    font-size: 1.2em;
    border: 2px solid #00ffcc;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #00ffcc;
    text-align: center;
    outline: none;
    box-shadow: 0 0 10px #00ffcc;
    appearance: none;
    background: url('/public/images/skin0.png') no-repeat right 10px center;
    background-size: 30px 30px;
}

select option {
    background: #1a1a1a;
    color: #00ffcc;
}

select::-webkit-inner-spin-button, 
select::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-family: 'Russo One';
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #00ffcc;
    color: #1a1a1a;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

button:hover {
    background-color: #1a1a1a;
    color: #00ffcc;
}

button:disabled {
    background-color: #4b4b4b;
    color: #1a1a1a;
    box-shadow: none;
}

@keyframes glow {
    0% {
        text-shadow: 2px 2px #1a1a1a, -2px -2px #00ffcc;
    }
    100% {
        text-shadow: 2px 2px #1a1a1a, -2px -2px #00ffcc;
    }
}

@keyframes neonFlow {
    0% {
        color: #1a1a1a;
    }
    50% {
        color: #00ffcc;
    }
    100% {
        color: #1a1a1a;
    }
}

.lobby {
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #00ffcc;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    overflow-y: auto;
    max-height: 60vh; /* Adjust as needed */
    margin-bottom: 20px;
}

.list {
    width: 100%;
    border-collapse: collapse;
}

.player {
    width: 60%;
}

.list th, .list td {
    border: 2px solid #00ffcc;
    padding: 10px;
    text-align: center;
}

.list th {
    background-color: #1a1a1a;
}

.list td {
    background-color: #2d2d2d;
}