<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midnight Animal</title>
    <link rel="stylesheet" href="../../public/css/menu/fonts.css">
    <link rel="stylesheet" href="../../public/css/menu/style.css">
</head>
<body>
    <div class="menu">
        <h1 class="glow">Neon Carnage</h1>
        <ul>
            <li><a href="#">New Game</a></li>
            <li><a href="#">Continue</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Quit Game</a></li>
        </ul>
    </div>
</body>
</html>
